<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <div data-page-title-directive></div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body data-ng-app="usersApp">
  <br><br><br>

  <main data-ng-controller="usersController" data-ng-init="getUsers()">
    <aside data-ng-if="errors.length > 0">
      <div class="row well">
        <ul data-ng-repeat="error in errors">
          <strong>Error:</strong>
          <li> <strong>{{error}}</strong> </li>
        </ul>
        <a href="#" class="close" data-ng-click="clearErrors()">&times;</a>
      </div>
    </aside>

    <section class="panel panel-info col-sm-8 col-sm-offset-1">
      <summary class="panel-heading">
        <h3 class="panel-title">Users:</h3>
      </summary>
      <article class="panel-body">
        <ul data-ng-repeat="user in users">
          <li>{{ user.username }}
            <button class="btn btn-xs btn-info text-center" data-ng-if="!user.editing" data-ng-click="editUser(user)">
              change stuff
            </button>
            <button class="btn btn-xs btn-danger text-center" data-ng-click="destroyUser(user)">
              annihilate
            </button>
            <div data-ng-if="user.editing" >
              <form action="" name={{'editing'+user._id}}>
                <input type="text" data-ng-model="user.username">
                <button type="submit" class="btn btn-xs btn-info" data-ng-click="updateUser(user)">
                  save stuff
                </button>
                <button data-ng-click="cancelEdit(user)">cancel</button>
              </form>
            </div data>
          </li>
        </ul>

      </article>
    </section>

    <section class="panel panel-success col-sm-8 col-sm-offset-1">
      <summary class="panel-heading">
        <h3 class="panel-title">Add User</h3>
      </summary>
      <article class="panel-body">
        <form name="newUserForm" data-ng-submit="createUser()">
          <input type="text" required data-ng-model="newUser.username">
          <button type="submit" data-ng-disabled="newUserForm.$invalid">
            create user
          </button>
        </form>
      </article>
    </section>
  </main>

  <script src='bundle.js'></script>
</body>
</html>
